/* API Key=28d8c276
http://www.omdbapi.com/?apikey=28d8c276&s=<search_term>
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* NAVIGATION BAR */

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 200px;
    height: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 24px;
    color: #6030b1;
}

.nav__link:hover {
    text-decoration: underline;
    transition: all 300ms ease;
}

.title__logo {
    font-size: 24px;
    font-weight: 600;
    color: #6030b1;
}

/* LANDING PAGE */

#landing-page {
    display: flex;
    padding: 50px 20px;
}

.landing__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.landing__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #6030b1;
}

.landing__subtitle {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #6030b1;
}

.landing__description {
    font-size: 24px;
    font-weight: 400;
}